 @keyframes animate_progress {
from {
width:0px;
}
to {
	width:100%;
}
}
@-webkit-keyframes animate_progress {
from {
width:0px;
}
to {
	width:100%;
}
}
@keyframes animate_vprogress {
from {
height:0px;
}
to {
	height:100%;
}
}
@-webkit-keyframes animate_vprogress {
from {
height:0px;
}
to {
	height:100%;
}
}
.blox_elem_progress {
	position:relative;
	margin-bottom:20px;
	float:left;
}
.blox_elem_progress .blox_progress_line {
	position:relative;
	width:100%;
	display:none;
	animation:animate_progress 1.2s;
	-webkit-animation:animate_progress 1.2s;
}
.blox_elem_progress .blox_progress_vline {
	position:relative;
	height:100%;
	display:none;
	animation:animate_vprogress 1.2s;
	-webkit-animation:animate_vprogress 1.2s;
}
.blox_elem_progress.style5 .blox_progress_title {
	position:absolute;
	top:-25px;
	left:0px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
.blox_elem_progress .blox_progress_vline_container {
	position:absolute;
	width:100%;
	bottom:0px;
	left:0px;
}
.blox_elem_progress.style6 {
}
.blox_elem_progress.style6 .blox_progress_bar {
	height:190px;
	position:relative;
}
.blox_elem_progress.style6 .blox_progress_bar .blox_progress_vline {
	position:absolute;
	display:block;
	background-color:rgba(192,192,192,0.1);
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	bottom:0px;
	left:0px;
	width:100%;
}
.blox_elem_progress.style6 .blox_progress_bar .blox_progress_vline span {
	position:absolute;
	height:10px;
	width:100%;
	left:0px;
	top:0px;
}
.blox_elem_progress.style6 .blox_progress_percent {
	font-size:30px;
	display:block;
	margin-top:20px;
}
